.html{
  position: relative;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}
.body{
  min-width: 100%;
  min-height: 100%;
}
#container{
  padding-top: 20px;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  text-align: center;
}
#mini-container{
  background-color: white;
  padding: 10px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
	text-align:center;
  line-height: 60px;
  background-color: #f5f5f5;
}
.bg-yes{
  background-image: url(../resources/ohyes.png);
  background-repeat: repeat;
}
.bg-no{
  background-image: url(../resources/ohno.png);
  background-repeat: repeat;
}
